version: '3'

services:
  env_manager:
    image: busybox
    volumes:
      - ./.env:/tmp/.env
      - env_data:/env_data
    command: >
      sh -c "
        if [ ! -f /env_data/.env ]; then
          cp /tmp/.env /env_data/.env
        fi
        tail -f /dev/null
      "

  data_volume:
    image: busybox
    restart: "no"
    volumes:
      - data_volume:/data
    command: >
      sh -c "
              mkdir -p /data/labels/train
              mkdir -p /data/labels/val
              mkdir -p /data/images/train
              mkdir -p /data/images/val
              mkdir -p /data/fractals
            "

  web:
    restart: "no"
    build:
      context: .
      dockerfile: ./app/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    networks:
      - app-network
    volumes:
      - data_volume:/data
      - env_data:/env_data
      - ./app:/app #Dev
    env_file:
      - ./.env
    depends_on:
      - env_manager

  preprocessing:
    restart: "no"
    build:
      context: .
      dockerfile: ./preprocessing/Dockerfile
    volumes:
      - env_data:/env_data
      - data_volume:/data
      - ./preprocessing:/preprocessing #Dev
    env_file:
      - ./.env
    depends_on:
      - env_manager

  augmentation:
    restart: "no"
    build:
      context: .
      dockerfile: ./augmentation/Dockerfile
    volumes:
      - env_data:/env_data
      - data_volume:/data
      - ./augmentation:/augmentation #Dev
    env_file:
      - ./.env
    depends_on:
      - env_manager

  model-creation:
    restart: "no"
    build:
      context: .
      dockerfile: ./model_creation/Dockerfile
    volumes:
      - env_data:/env_data
      - data_volume:/data
      - ./model_creation:/model_creation #Dev
    env_file:
      - ./.env
    depends_on:
      - env_manager

volumes:
  data_volume:
  env_data:

networks:
  app-network:
    driver: bridge