<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <canvas id="neuralNetworkCanvas"></canvas>

    <div class="upload-section">
        <h3>Upload Files</h3>
        <div class="drop-zone-container">
            <div id="dropZone" class="drop-zone">
                <p>Drag and drop files here or click to select</p>
                <input type="file" id="fileInput" multiple style="display: none;">
            </div>
        </div>
        <div id="fileList" class="file-list"></div>
        <div class="upload-fields">
            <div class="form-group">
                <input type="text" id="containerId" name="containerId" placeholder="Volume ID">
            </div>
            <div class="form-group">
                <input type="text" id="containerPath" name="containerPath" placeholder="Volume Path">
            </div>
        </div>
        <button id="uploadToDocker">Upload to Docker Container</button>
       <div class="containerbrowser">
            <h3>Docker Volume Browser</h3>
            <div>
                <input type="text" id="volumeId" placeholder="Volume ID">
                <input type="text" id="path" placeholder="Volume Path (default: /)">
                <button>List Contents</button>
            </div>
            <div id="contents-list"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='background.js') }}"></script>
    <script src="{{ url_for('static', filename='file_management.js') }}"></script>
</body>
</html>
